@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
  font-family: 'Bai_Jamjuree';
  src: url('./assets/fonts/BaiJamjuree-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example base styles */
@layer base {
  p {
    @apply text-white text-sm md:text-xl font-Mulish;
  }
  section {
    @apply py-12 md:py-24 space-y-8 md:space-y-16;
  }
}

/* Custom input style */
@layer components {
  .input-style {
    @apply p-2 md:p-4 text-sm md:text-xl rounded-md bg-[#FFFFFF]/10 focus:outline-none focus:ring-2 focus:ring-primary placeholder-white placeholder:font-Mulish;
  }
}

