@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
  font-family: 'Bai_Jamjuree';
  src: url('./assets/fonts/BaiJamjuree-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example base styles */
@layer base {
  p {
    @apply text-white text-sm md:text-xl font-Mulish;
  }
  
  section {
    @apply py-10 md:py-24 space-y-8 md:space-y-16;
  }
}

/* Custom input style */
@layer components {
  .input-style {
    @apply p-2 md:p-4 text-sm md:text-xl rounded-md bg-[#FFFFFF]/10 focus:outline-none focus:ring-2 focus:ring-primary placeholder-white placeholder:font-Mulish;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@keyframes rotate-scale-translate {
  0% {
    transform: rotate(0deg) scale(1) translateX(0%);
  }
  /* 25% {
    transform: rotate(90deg) scale(1.2) translateX(20%);
  } */
  50% {
    transform: rotate(180deg) scale(1.5) translateX(10%);
  }
  /* 75% {
    transform: rotate(270deg) scale(1.2) translateX(-20%);
  } */
  100% {
    transform: rotate(360deg) scale(1) translateX(0%);
  }
}

.animate-roted {
  animation: rotate-scale-translate 20s linear infinite;
}


/* For Hero Section */
@keyframes rotate-scale-translate-hero {
  0% {
    transform: rotate(0deg) scale(1) translateX(0%);
  }
  /* 25% {
    transform: rotate(90deg) scale(1.5) translateX(20%);
  } */
  50% {
    transform: rotate(180deg) scale(22) ;
  }
  /* 75% {
    transform: rotate(90deg) scale(1.5) -translateX(60%);
  } */
  100% {
    transform: rotate(0deg) scale(1) translateX(0%);
  }
}

.animate-roted-Home {
  animation: rotate-scale-translate-hero 30s linear infinite;
}

